<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RealEstate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/assets/img/RealEstate.png" alt="Logo" height="35" class="d-inline-block align-text-top rounded-4">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Properties", "Properties", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <form class="d-flex" role="search">
                    @{ string action = "Login", controller = "Home"; }
                    @if (Session["Email"] == null)
                    {
                        @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Sign Up", "Register", "User", new { area = "" }, new { @class = "btn btn-info ms-2" })
                    }
                    else
                    {

                        if (Session["Type"].Equals("User"))
                        {
                            action = "Dashboard";
                            controller = "User";
                        }
                        else if (Session["Type"].Equals("Vendor"))
                        {
                            action = "Dashboard";
                            controller = "Vendor";
                        }
                        else if (Session["Type"].Equals("Admin"))
                        {
                            action = "Dashboard";
                            controller = "Admin";
                        }

                        <a href="@Url.Action(action, controller)">
                            <span class="text-white ps-2">
                                @Session["Email"].ToString()
                            </span>
                        </a>

                        @Html.ActionLink("Logout", "Logout", controller, new { area = "" }, new { @class = "btn btn-danger ms-2" })
                    }
                </form>
            </div>
        </div>
    </nav>
    
    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.carousel').carousel({
                interval: 2000
            })
        });
    </script>
</body>
</html>
