@model RealEstateMVC_NOAUTH.Models.PROPERTY

@{
    ViewBag.Title = "Property Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul.custom-list li {
        list-style: none;
        width: 50%;
        float: left;
        font-weight: 400;
        line-height: 35px;
        font-size: 13px;
    }
</style>

<div class="container">

    <section class="jumbotron text-center mb-5">
        <div class="container">
            <h1 class="jumbotron-heading">Property Details</h1>
        </div>
    </section>

    <hr />
    <div class="row mx-3 mb-3">
        <div class="col-6">
            <h1>@Html.DisplayFor(model => model.NAME)</h1>
            <span>
                <i class="bi-geo-alt-fill fs-5 me-2"></i>
                @Html.DisplayFor(model => model.LOCATION)
            </span>
        </div>
        <div class="col-6 text-end">
            <h1>@Html.DisplayFor(model => model.BEFORE_PRICE_LABEL) @Html.DisplayFor(model => model.PRICE.Value) @Html.DisplayFor(model => model.AFTER_PRICE_LABEL)</h1>
            <span>
                ⭐⭐⭐⭐⭐
            </span>
        </div>
        <div class="col-12 pt-3">
            <div class="d-flex justify-content-between">
                <span class="badge bg-info fs-5">@Html.DisplayFor(model => model.PROPERTY_STATUS.STATUS)</span>
            </div>
        </div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="@Url.Content(@Html.DisplayFor(model => model.IMG_1).ToString())" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="10000">
                <img src="@Url.Content(@Html.DisplayFor(model => model.IMG_2).ToString())" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="10000">
                <img src="@Url.Content(@Html.DisplayFor(model => model.IMG_3).ToString())" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="10000">
                <img src="@Url.Content(@Html.DisplayFor(model => model.IMG_4).ToString())" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="mx-3 px-3 mb-3">
        <hr />
        <h4>Description</h4>
        <p>@Html.DisplayFor(model => model.DESCR)</p>
    </div>

    <div class="mx-3 px-3 mb-3 w-100">
        <hr />
        <h4>Condition</h4>
        <div>
            <ul class="condition-list w-50">
                <li>@Html.DisplayNameFor(model => model.BEDROOMS): @Html.DisplayFor(model => model.BEDROOMS)</li>
                <li>@Html.DisplayNameFor(model => model.BATHROOMS): @Html.DisplayFor(model => model.BATHROOMS)</li>
                <li>@Html.DisplayNameFor(model => model.FLOORS): @Html.DisplayFor(model => model.FLOORS)</li>
                <li>@Html.DisplayNameFor(model => model.GARAGES): @Html.DisplayFor(model => model.GARAGES)</li>
            </ul>
        </div>
    </div>
    <div class="mx-3 px-3 mb-3">
        <hr />
        <h4>Details</h4>
        <div>
            <ul class="w-50">
                <li>@Html.DisplayNameFor(model => model.PROPERTY_TYPE.NAME): @Html.DisplayFor(model => model.PROPERTY_TYPE.NAME)</li>
                <li>@Html.DisplayNameFor(model => model.PROPERTY_STATUS.STATUS): @Html.DisplayFor(model => model.PROPERTY_STATUS.STATUS)</li>
                <li>@Html.DisplayNameFor(model => model.AREA): @Html.DisplayFor(model => model.AREA) Sqft </li>
                <li>@Html.DisplayNameFor(model => model.LOCATION): @Html.DisplayFor(model => model.LOCATION)</li>
                <li>@Html.DisplayNameFor(model => model.ADDRESS): @Html.DisplayFor(model => model.ADDRESS)</li>
                <li>@Html.DisplayNameFor(model => model.NEIGHBORHOOD): @Html.DisplayFor(model => model.NEIGHBORHOOD)</li>
                <li>@Html.DisplayNameFor(model => model.POSTAL_CODE): @Html.DisplayFor(model => model.POSTAL_CODE)</li>
                <li>@Html.DisplayNameFor(model => model.CITY.NAME): @Html.DisplayFor(model => model.CITY.NAME)</li>
                <li>@Html.DisplayNameFor(model => model.STATE.NAME): @Html.DisplayFor(model => model.STATE.NAME)</li>
                <li>@Html.DisplayNameFor(model => model.COUNTRY.NAME): @Html.DisplayFor(model => model.COUNTRY.NAME)</li>
            </ul>
        </div>
    </div>

    <div class="mx-3 px-3 mb-3">
        <hr />
        <h4>Features</h4>
        <ul>
            @foreach (string feature in @Html.DisplayFor(model => model.FEATURES).ToString().Split(','))
            {
                <li>@feature</li>
            }
        </ul>
    </div>

    <div class="mx-3 px-3 mb-3">
        <hr />
        <h4>Dealer</h4>
        <div class="d-flex justify-content-between">
            <span><i class="bi-person-fill fs-6 me-2"></i>@Html.DisplayFor(model => model.USER.FULLNAME)</span>
            <small class="text-muted">@TimeAgo.getTimeAgo(@Html.DisplayFor(model => model.ADDED_DATE).ToString())</small>
        </div>
    </div>
    @if (Session["Email"] != null && (Session["Type"].Equals("User")))
    {
        <div class="mx-3 mt-3 px-3 mb-3">
            <hr />
            @using (Html.BeginForm("SendQuery", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>Have Intrest</h4>
                    <hr />
                    <div class="form-group mb-3">
                        <div class="col-md-10">
                            <label class="mb-2" for="QUESTION">Message</label>
                            <textarea required rows="3" cols="30" class="form-control" id="QUESTION" name="QUESTION" style="max-width:400px"></textarea>
                            <input type="hidden" name="ID" value="@Html.DisplayFor(model => model.ID)" />
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send Message" class="btn btn-primary" />
                        </div>
                    </div>

                    @Html.Raw(TempData["Message"])
                </div>
            }
        </div>
    }
</div>
