@model IEnumerable<RealEstateMVC_NOAUTH.Models.USER>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FULLNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOBILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABOUT_ME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTRATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER_ROLE.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FULLNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOBILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABOUT_ME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTRATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER_ROLE.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
